.production {
    padding: 4px 8px;
}

.production--no-padding {
    padding: 0 8px 4px 8px;
}

.production__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #79747E;
    border-radius: 4px;
    overflow: scroll;
    overflow-x: hidden;
    height: calc(100vh - 100px);
    /* min-height: calc(100vh - 160px); */
    position: relative;
    
}

.production__list--small {
    height: calc(100vh - 170px);
}

.production__list::-webkit-scrollbar {
    width: 0;
}


.production__list-item {
    border-bottom: 0.2px solid #79747E;
    
}

/* .production__list-item:last-child {
    border-bottom: none;
} */

.production-card {
    padding: 4px;
}


.production-card__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    margin: 0 0 4px 0;
}

.production-card__props {
    display: grid;
}

.production__content-top > .production-card__props {
    gap: 2px;
    margin: 0 0 8px 0;
}

.production-card__props-item {
    display: flex;
    gap: 4px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.25px;
}

.production__content-top .production-card__props-item {
    font-size: 12px;
    line-height: 14px;
}

.production-card__props-title {
    font-weight: 500; 
}

.production__list-empty {
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1D1B20;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.5px;
}

