.card {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
}

.card__text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #333333;
}

.unactive .card__text {
    color: rgba(29, 27, 32, 0.2);

}