.header__content {
    border-bottom: 1px solid #79747E;
    background-color: #BAD0E2;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 7.5px;
}

.header__content--white {
    background-color: #F2F2F2;
}

.header__button {
    display: flex;
    padding: 4px 3px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__button-icon {
    width: 14px;
    height: 14px;
}

.header__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25px;
    color: #333333;
    margin: 0;
}